<!DOCTYPE html>
<html>
	<head>
		<title>Keaton Lees</title>
		<link rel="stylesheet" href="../static/styles.css/">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	
	<body>
		<div class="container">
			<div id="home-screen" class="home-screen">
				<div> <!-- Navigation Arrows -->
					<i id="nav-arrow-left" class="fa fa-caret-left fa-3x"></i>
					<i id="nav-arrow-right" class="fa fa-caret-right fa-3x"></i>
					<i id="nav-arrow-up" class="fa fa-caret-up fa-3x"></i>
					<i id="nav-arrow-down" class="fa fa-caret-down fa-3x"></i>
				</div>

				<div class="home-content"> <!-- Content -->
					<div class="time-content">
						<h1 class="time-class" id="display_time">TIME</h1>
						<h1 class="date-class" id="display_date">DATE</h1>
					</div>
					
					<div class="weather-content">
						<div class="weather-icon" id="display_icon"></div>
						<h1 class="temp-class" id="display_temperature">TEMPERATURE</h1>
						<div class="weather-info">
							<h1 class="location-class" id="display_location">LOCATION</h1>
							<h1 class="description-class" id="display_description">DESCRIPTION</h1>
						</div>
					</div>
				</div>
			</div>
			
			<div id="left-screen" class="left-screen">
			
			</div>
			
			<div id="right-screen" class="right-screen">
			
			</div>
		</div>
	</body>
	<script>	   
	   window.onload = function() {
		   update_time();
		   update_date();
		   update_weather();
		   
		   fade_out();
		   go_home();
	   };
	   
	   // hide everything
	   function fade_out() {
		   $("#main-screen").fadeOut();
		   $("#alarm-screen").fadeOut();
		   $("#music-screen").fadeOut();
	   }
	   
	   // show main screen
	   function go_home() {
		   fade_out();
		   $("#main-screen").fadeIn();
	   }
	   
	   // show alarm screen
	   function go_alarm() {
		   fade_out();
		   $("#alarm-screen").fadeIn();
	   }
	   
	   // show music screen
	   function go_music() {
		   fade_out();
		   $("#music-screen").fadeIn();
	   }
	   
	   // update time
	   function update_time(){$.ajax({
		   url: '/_update_time',
           type: 'POST',
           success: function(response) {
			   console.log(response);
			   time_str = response["time"];
               $("#display_time").html(time_str);
               
               // update date every 12 hours
               if (time_str == "12:00" || time_str == "12:00:00") {
				   update_date();
			   }
			   
			   // check alarm
			   // get_alarm();
           },
           error: function(error) {
			   console.log(error);
           }
       })};
       setInterval('update_time()', 1000);  // every 1 second
       
       // update date
	   function update_date(){$.ajax({
		   url: '/_update_date',
           type: 'POST',
           success: function(response) {
			   console.log(response);
               $("#display_date").html(response["date"]);
           },
           error: function(error) {
			   console.log(error);
           }
       })};
       
       // alarm
       function get_alarm(){$.ajax({
		   url: '/_get_alarm',
           type: 'POST',
           success: function(response) {
			   console.log(response);
               if (response["day"] == "Saturday" || response["day"] == "Sunday") {
				   if (response["time"] == "08:00:00") {
						console.log("Weekend alarm");
				   }
			   } else {
				   if (response["time"] == "06:00:00") {
						console.log("Weekday alarm");
				   }
			   }
           },
           error: function(error) {
			   console.log(error);
           }
       })};
       
       // update weather
	   function update_weather(){$.ajax({
		   url: '/_update_weather',
           type: 'POST',
           success: function(response) {
			   console.log(response);
               $("#display_location").html(response["location"]);
               $("#display_temperature").html(response["temperature"] + "°C");
               $("#display_description").html(response["description"]);
               $("#display_icon").html('<img src="http://openweathermap.org/img/w/' + response["icon"] + '.png" />');
           },
           error: function(error) {
			   console.log(error);
           }
       })};
       setInterval('update_weather()', 60000*10);  // every 10 minutes
	</script>
</html>
